In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [4]:
df = pd.read_csv("wine-reviews.csv", usecols = ['country','description', 'points', 'price', 'variety', 'winery'])

In [5]:
df.head()

,country,description,points,price,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",87,NaN,White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",87,15.0,Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",87,14.0,Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",87,13.0,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",87,65.0,Pinot Noir,Sweet Cheeks

In [8]:
df = df.dropna(subset=["description", "points"])
df["label"]= (df.points >= 90).astype("int")
df = df[["description","label"]]
df.tail()

                                              description  points  label
129966  Notes of honeysuckle and cantaloupe sweeten th...      90      1
129967  Citation is given as much as a decade of bottl...      90      1
129968  Well-drained gravel soil gives this wine its c...      90      1
129969  A dry style of Pinot Gris, this is crisp with ...      90      1
129970  Big, rich and off-dry, this is powered by inte...      90      1